body{
	background-color: lightgrey;
}


body{
	font-family: Ubuntu, serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: Dosis, serif;
}

.list{
	background-color: lightblue;
}

strong{
	color: lime;
	background-color: black;
}